  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #EBF0F3;    overflow-x: hidden;

}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}

.page{
    display: flex;
    min-height: 100vh;
    max-width: 100%;
}
/* ================================== Start header ==================================*/
.bg-header{
    width: 100%;
    position: relative;
}
.bg-header::before{
    content: "";
    width: 100%;
    min-height: 430px;
    position: absolute;
    background-image: url(../images/Background-Top-Big.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -40px;
    background-position-x:90%;
    z-index: -9999;
}
.dropdown{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
.dropdown-1,.dropdown-2{
    width: 185px;
    height: 40px;
    border-radius: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(108, 134, 177, 20%);
    padding: 5px 14px 5px 6px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.dropdown-1{
    margin-right: 10px;
}
.dropdown-2{
    margin-left: 10px;
}

.dropdown-container-1,.dropdown-container-2{
    position: relative;
}
.dropdown-hidden-1,.dropdown-hidden-2{
    width: 170px;
    border-radius: 4px;
    background:rgba(108, 134, 177, 20%);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 10px auto;
    color: #ffffff;
    display: none;
}
.dropdown-hidden-1 li:not(:nth-of-type(3)),.dropdown-hidden-2 li:not(:nth-of-type(3)){
    border-bottom: 1px solid #0A6ADA;
}
.dropdown-visible-1,.dropdown-visible-2{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:768px){
    .dropdown-1>:nth-child(2),.dropdown-2>:nth-child(2){
        display: none;
    }
    .dropdown-1,.dropdown-2{
        width: 70px;
    }
    .filters ul li{
        margin-left: 0px;
    }
    .dropdown-1:hover,.dropdown-2:hover{
        width: 185px;
    }
    .dropdown-1:hover >:nth-child(2),.dropdown-2:hover >:nth-child(2){
        display: block;
    }
    .dropdown-visible-1,.dropdown-visible-2{
        position: absolute;
        left: unset;
        transform: none;
    }
}

@media(max-width:576px){
    .filters ul li:not(:nth-child(1)){
        margin-left: 5px;
    }
}

/* ================================== End header ================================== */

/* ================================== Srart sidebar ==================================*/
.sidebar{
    position: fixed;
    z-index: 9999;
    width: 240px;
    height: calc(100vh - 80px);
    background-color: #0A69DA;
    margin-top: 40px;
    padding: 16px 20px;
    border-radius: 8px;
    transition: 0.3s;
    top: 0;
    overflow: hidden;
}
.sidebar::before{
    content: "";
    width: 240px;
    height: 152px;
    background-image: url(../images/Image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
}
.sidebar-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul{
    margin-top: 75px;
}
.sidebar ul li{
    margin-bottom: 17px;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    width: 170px;
    height: 38px;
    border-radius: 180px;
    color: white;
    font-size: 15px;
    padding-left: 19px;
    transition: 0.3s;
}

.sidebar ul li a span{
    margin-left: 13px;
}
.sidebar ul li .active{
    background-color: #0076FF;
}
.offer{
    width: 180px;
    height: 45px;
    border-radius: 180px;
    background-color: #F3F5FA;
    padding: 10px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 40px;
}
.offer>:first-child{
    display: flex;
    align-items: center;
}
.offer>:first-child>:nth-child(2){
    margin-left: 12px;
}
.offer-info>:first-child{
font-size: 11px;
}
.offer-info>:nth-child(2){
    font-size: 10px;
    color: #707070;
}
@media (max-width:768px){
    .sidebar{
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }
    .sidebar ul li a{
        width: 40px;
        padding: 5px;
        justify-content: center;
    }
    .sidebar ul li a span,.sidebar-logo>:first-child{
        display: none;
    }
    .offer{
        width: 35px;
        height: 35px;
        border-radius: 50%; 
        transition: 0.1s ease-in-out;
        justify-content: center;
    }
    .offer-info,.arrow-rigt{
        display: none;
    }
    .offer:hover {
        width: 180px;
        height: 45px;
        margin-left: 145px;
        border-radius: 180px;
        margin-top: -4px;
        justify-content: space-between;
    }
    .offer:hover .offer-info,.offer:hover .arrow-rigt{
        display: block;
    }
}
/* ================================== End sidebar ==================================*/

/* ================================== Start filters ==================================*/
.filters{
    margin-top: 176px;
}
.filters ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filters ul li:not(:nth-child(1)) {
    margin-left: 24px;
}
.filters ul li a{
    width: 68px;
    height: 73px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.filters ul li a img{
    margin-bottom: 8px;
}
.filters ul li .active{
    background-color: #0A6ADA;
}
@media (max-width:768px){
    .filters ul li{
        margin-left: 0px;
    }
}
@media(max-width:576px){
    .filters ul li:not(:nth-child(1)){
        margin-left: 5px;
    }
}
/* ================================== End filters ================================== */

/* ================================== Start content ==================================*/
.content{
    width: 100%;
    margin-left: 270px;
    overflow: auto;
}
@media(max-width:768px){
    .content{
        margin-left: 70px;
    }
}
/* ================================== End content ================================== */

/* ================================== Start booking information card ==================================*/
.booking-info-card{
    width: 100%;
    margin-top: 20px;
    min-height: 320px;
    border-radius: 8px;
    background-color: #F3F4F4;
    padding: 35px 40px 38px 38px;
}

.flight-info{
    margin-top: 33px;
}
.booking-data{
    margin-top: 38px;
}
.booking-data>:first-child{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.checkbox-form{
    display: flex;
    align-items: center;
}
#terms{
    width: 24px;
    height: 24px;   
}
.terms{
    font-size: 14px;
    color: #2E3758;
    margin-left: 8px;
    font-weight: 500;
}
.flight-info,.booking-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flight-info div p{
    margin-bottom: 5px;
}
.booking-data div p{
    margin-bottom: 7px;
}
.from-info>:first-child span,.to-info>:first-child span,.class-info>:first-child span,
.booking-data > div >:first-child span{
    margin-left: 4px;
    font-size: 12px;
    color: #475073;
    text-transform: uppercase;
}
.from-info>:nth-child(2),.to-info>:nth-child(2),.class-info>:nth-child(2),
.booking-data > div >:nth-child(2){
    font-size: 16px;
    color: #2E3758;
}
.from-info>:last-child,.to-info>:last-child,.class-info>:last-child,
.booking-data > div >:last-child{
    font-size: 12px;
    color: #475073;
}
.search-flight{
    width: 244px;
    height: 88px;
    border-radius: 6px;
    background-color: #DF142D;
    display: flex;
    justify-content: center;
    align-items: center;
    --c: #0A69DA;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.search-flight span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.search-flight:hover{
    color: white;
}
.search-flight:hover span{
    transform: translateY(0) scale(2);
}
.search-flight span:nth-child(1){
    --n: 1;
}
.search-flight span:nth-child(2){
    --n: 2;
}
.search-flight span:nth-child(3){
    --n: 3;
}
.search-flight span:nth-child(4){
    --n: 4;
}
@media (max-width:992px){
    .search-flight {
        width: 150px;
        height: 80px;
        font-size: 14px;
    }
}

@media(max-width:576px){
    .booking-info-card{
        padding: 15px 0px;
    }
    .flight-info, .booking-data{
        padding: 0 10px;
    }
    .from-info>:first-child span, .to-info>:first-child span, .class-info>:first-child span, .booking-data > div >:first-child span{
        font-size: 12px;
        margin-left: 4px;
    }
    .from-info{
        margin-bottom: 8px;
    }
    .search-flight{
        margin-top: 10px;
        height: 50px;
    }
}
/* ================================== End booking information card ================================== */

/* ================================== Start special offer ================================== */
.special-offer::-webkit-scrollbar {
    display: none;
  }
.special-offer{
    min-height: 250px;
    margin-left: 25%;
    overflow-x: auto;
}
.special-offer .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
}
.special-offer .title h1{
    font-size: 24px;
    color: #282E44;
}
.special-offer .title span{
    font-size: 18px;
    color: #282E44;
    cursor: pointer;
}
.offers-slide-container {
    min-width: 1476px;
    min-height: 188px;
  }
  
  .offer-card {
    max-width: 350px;
    height: 240px;
    background: #FFFFFF;
    border-radius: 16px;
    position: relative;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
.swiper-slide-1 >:first-child,.swiper-slide-2 >:first-child,.swiper-slide-3 >:first-child{
    position: relative;
    width: 350px;
    height: 240px;
}
.swiper-slide-1 >:first-child::before,.swiper-slide-2 >:first-child::before,.swiper-slide-3 >:first-child::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9999;
    border-radius: 18px;
}
.swiper-slide-1 >:first-child::before{
    background-image: url(../images/country-1.png);
}
.swiper-slide-2 >:first-child::before{
    background-image: url(../images/country-2.png);
}
.swiper-slide-3 >:first-child::before{
    background-image: url(../images/country-3.png);
}
.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
    width: 100%;
}
.slide-content>:first-child>:first-child{
    font-size: 11px;
    color: white;
}
.slide-content>:first-child>:nth-child(2){
    font-size: 24px;
    color: white;
}
.slide-content>:nth-child(2){
    display: flex;
    align-items: center;
}
.slide-content>:nth-child(2)>:nth-child(2){
    margin-left: 14px;
}
.slide-content>:nth-child(2)>:nth-child(2)>:first-child{
    font-size: 22px;
    color: white;
}
.slide-content>:nth-child(2)>:nth-child(2)>:nth-child(2){
    font-size: 16px;
    color: #C1D4DA;
}
  @media (max-width: 576px) {
    .offers-slide-container {
        min-width: auto;
        max-width: 100%;
        width: 100%;
    }
    .offer-card {
      width:100%;
      margin-left: 10px;
      /* padding: 15px; */
    }
    .slide-content{
        padding: 15px;
    }
    .slide-content>:first-child>:first-child{
        font-size: 12px;
    }
    .slide-content>:nth-child(2)>:nth-child(2){
        margin-left: 8px;
    }
    .swiper-wrapper>:first-child{
        margin-left: 0;
    }
  }
/* ================================== End special offer ================================== */

/* ================================== Start Best Offer ==================================== */
.best-offer{
    margin-top: 50px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 30px 50px 30px 54px;
}
.best-offer-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-offer-title>:first-child{
font-size: 24px;
color: #282E44;
}
.best-offer-title>:nth-child(2){
    font-size: 18px;
    color: #282E44;
    opacity: 0.5;
}
.offer-container{
    margin-top: 5px;
}
.offer-ele{
    width: 285px;
    height: 74px;
    background-color: #F8F9FA;
    margin: 10px auto;
    border-radius: 180px;
    display: flex;
    align-items: center;
}
.offer-ele>:nth-child(2){
    margin-left: 20px;
}
.offer-ele>:nth-child(2)>:first-child{
    font-size: 18px;
    color: #282E44;
}
.offer-ele>:nth-child(2)>:nth-child(2){
    font-size: 14px;
    color: #475073;
    opacity: 70%;
}   



@media (max-width:992px){
    .best-offer{
        padding: 20px;
    }
}
@media (max-width:768px){

}
/* ================================== End Best Offer ==================================== */

/*  ================================== Start footer ==================================== */
footer{
    margin-top: 50px;
    width: 100%;
    min-height: 205px;
    background-image: url(../images/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    padding: 56px 40px 42px 51px;
}
footer>:first-child >:first-child{
    font-size: 24px;
    color: white;
    margin-bottom: 11px;
}
footer>:first-child >:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer>:first-child >:nth-child(2) span{
    font-size: 48px;
    color: #FFC54D;
}
footer>:first-child >:nth-child(2) p{
    opacity: 0.5;
    font-size: 16px;
    color: #FFCB60;
    margin-left: 14px;
    margin-top: 20px;
}
footer>:nth-child(2) a{
    width: 138px;
    height: 54px;
    border-radius: 6px;
    background-color: rgba(255, 203, 97, 100%);
    color: white;
    padding: 17.5px 32px;
    text-transform: uppercase;
}
@media (max-width:1200px) {
    footer{
        background-position: 64% 100%;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    footer>:first-child >:nth-child(2) p{
        margin-left: 0px;
    }
    footer>:first-child >:first-child {
        margin-bottom: 0;
    }
}
@media (max-width:992px){
    footer>:first-child >:first-child{
        font-size: 16px;
    }
    footer>:first-child >:nth-child(2) span{
        font-size: 27px;
    }
    footer>:nth-child(2) a{
        font-size: 12px;
        padding: 7px;
    }
    footer{
        padding: 0px 15px 0px 15px;
        min-height: 130px;
    }
    footer>:first-child >:nth-child(2) p{
        font-size: 12px;
    }
}
@media(max-width:576px){
    footer>:first-child{
        margin-bottom: 30px;
    }
}
/*  ================================== End footer ==================================== */